@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
    transition: background-color 2.0s ease;
}

div {
    transition: background-color 2.0s ease !important;
}

span {
    transition: background-color 2.0s ease !important;
}

button {
    transition: background-color 2.0s ease;
}

@layer base {
    .MuiTypography-root {
        transition: color 2.0s ease !important;
    }
    
    .MuiTypography-root {
        transition: color 2.0s ease !important;
    }
}
