<div style="width: 100%; max-width: 800px; margin: 0 auto; font-family: 'Arial', sans-serif;">
    <div style="background-color: #007bff; color: #fff; padding: 40px 30px; text-align: center;">
        <img src="../wwwroot/siteImages/Logo.png" alt="Logo" style="max-width: 150px; margin-bottom: 20px;">
        <h1 style="font-size: 2.8em; margin: 0;">Welcome to Our Community!</h1>
    </div>
    <div style="background-color: #f8f9fa; padding: 40px; border: 1px solid #007bff; margin-bottom: 20px; border-radius: 8px;">
        <h2 style="color: #007bff; font-size: 2em; margin-top: 0;">We're glad you're here.</h2>
        <p style="font-size: 1.2em; color: #6c757d; margin-bottom: 20px;">We're excited to have you join us. You're just one click away from being a part of something amazing.</p>
        <a href="http://localhost:5173/register/verify/@ViewData["VerificationLink"]" style="display: inline-block; color: #fff; background-color: #28a745; padding: 15px 40px; text-decoration: none; font-size: 1.2em; border-radius: 5px; transition: background-color 0.3s ease;">
            Verify Email
        </a>
    </div>
    <div style="background-color: #007bff; color: #fff; padding: 30px; text-align: center; border-radius: 0 0 8px 8px;">
        <p style="margin-bottom: 0; font-size: 1.1em;">Thank you for joining us!</p>
    </div>
</div>
